name: Check Markdown Links

on:
  push:
    paths:
      - '**.md'
  pull_request:
    paths:
      - '**.md'
  workflow_dispatch:

jobs:
  link-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run lychee link checker
        uses: lycheeverse/lychee-action@v2.8.0
        with:
          args: >
            --verbose
            --no-progress
            --exclude-mail
            --timeout 20
            **/*.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
